<%= javascript_include_tag "answer", "data-turbo-track": "reload", defer: true %>
<%= render partial: 'templates/header', locals: { question: @active_question, screen: 'assessment' } %>
<div class="row h-380 bg-gray overflow-y-auto">
  <div class="col-12 h-full position-relative">
    <div class="row">
      <div class="col-12 h-full">
        <div class="row flex-row-reverse align-items-center border-dashed py-2">
          <div class="col-2">
            <% start_time = (@active_question.time_start + 2.minute).to_i %>
            <%= render partial: 'templates/countdown', locals: { start_time: start_time, redirect_path: '/get_results' } %>
          </div>
          <div class="col-5 fs-5 fw-bold text-end">採点終了まで残り</div>
        </div>
        <% if @answers.any?{ |answer| answer.content != nil } %>
          <div class="row text-center mt-2">
            <div class="col-2 fw-bold">2点</div>
            <div class="col-2 fw-bold">1点</div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-12">
            <%= form_with url: aggregate_points_answers_path, method: :post, html: { remote: true, screen: 'assessment', is_answered: @aggregated }, authenticity_token: true do |f| %>
              <% @answers.each do |answer| %>
                <% unless answer.content.nil? %>
                  <div class="row pb-3  align-items-center">
                    <div class="col-2 text-center">
                      <input type="radio" name="points[<%= answer.id %>]" value="2" class="form-check-input fs-5 points" <%= 'checked' if answer.assessments.by_assessment_user_id(current_user.id).first&.point == 2 %>>
                    </div>
                    <div class="col-2 text-center">
                      <input type="radio" name="points[<%= answer.id %>]" value="1" class="form-check-input fs-5 points" <%= 'checked' if answer.assessments.by_assessment_user_id(current_user.id).first&.point == 1 %>>
                    </div>
                    <div class="col-8 py-3 border-dashed text-right text-break answer_content pre-whitespace" answer_id="<%= answer.id %>" answer_point="<%= answer.assessments&.first&.point %>"><%= answer.content %></div>
                  </div>
                <% end %>
              <% end %>
              <%= f.submit 'submit', class: 'form-submit-button d-none' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'templates/footer', locals: { button_text: '採点する' } %>
