<!DOCTYPE html>
<html>
  <head>
    <title>Hata</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-fluid h-screen">
      <div class="container h-full">
        <div class="main-content row justify-content-center h-full">
          <div class="col-12 col-md-8 col-lg-6">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
